#footer {
	width: 100%;
    background: black url("/img/backgrounds/background-image-1.jpg") no-repeat center left;
    background-size: cover;
    position: absolute;
    z-index: 100;
}

.footer {
	h1, h2, h3, h4, p {color: #fff;}
	a {font-family: inherit; color: inherit;}
	h1, h2 {margin: 0}
	h3 {font-size: 1.5em}
	h4 {font-family: $foundry_regular; text-transform: initial; font-size: 1.2em; line-height: 1.5em;}
	p {font-family: $foundry_regular;}
	.blog-post-meta {font-family: $foundry_regular;}
	flex-direction: column;
}

.social {
	text-align: center;
	width: auto;
	margin: 50px auto 30px auto;
	padding: 40px 0;
	img {display: inline;}
}

.footer-row-1 {
	ul {flex-direction: column;}
	list-style: none;
	flex-direction: row;
	padding-top: 60px;
	h4 {font-family: $foundry_thin;}
	p {font-family: $foundry_thin;}
	.previous-case-study {margin-right: 0;}
	.next-case-study {margin-left: 0;}
	.rule img {width: 35px; margin: 0 0 30px 0;}
	.view-all-work {
		margin-right: 0;
		width: 100%;
		text-align: center;
		img {
			width: 100px;
			margin: 0 auto;
		}
		h3 {font-size: 0.8em; margin-top: 10px;}
		flex-direction: column;
		justify-content: center;
	}
	.button-next {
		@include white-button-small;
		p {font-family: $foundry_regular;}
	}
	.button-next:hover {
		@include rollover-button-small;
		p {font-family: $foundry_regular;}
	}
}

.footer-row-1 > div {
	margin-bottom: 30px;
	img {width: 100%;}
	.view-all-work img {width: 75%;}
}

.footer-row-1 {
	.paging {margin-top: 30px;}
	.paging strong {font-family: $foundry_bold;}
	ul {padding: 0; margin: 0;}
	li {width: 100%; margin-right: 0; list-style: none;}
	li:last-child {margin-right: 0;}
}

.footer-item {flex-direction: column; margin-bottom: 30px;}

.footer-row-2 {
	background: rgba(#c62b32,0.2);
}

.footer-row-3 {
	flex-direction: column;
	padding-bottom: 60px;
	.contact-number {margin: 0;}
	span {
		font-family: $foundry_condensed_bold;
		color: $foundry_red;
		text-transform: uppercase;
		font-size: 1.2em;
	}
	.button-next {@include red-button-small;}
	.button-next:hover {@include rollover-button-small;}
}


@media screen and (min-width: 800px) {
	.footer-row-1 {
		ul {padding: 0; margin: 0;}
		li {width: 30%; margin-right: 5%;}
		li:last-child {margin-right: 0;}
	}
	.footer-row-1 {
		ul {flex-direction: row;}
	}
	.footer-item {margin-bottom: 0;}
	.footer-row-3 {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.opinion, .news, .careers {
		margin-bottom: 30px;
		width: 30%;
		margin-right: 5%;
		img {width: 100%;}
	}
	.footer-row-1 > div:last-child {margin-right: 0;}
	.footer-row-1 {
		.view-all-work {
			width: auto;
			img {
				width: 100px;
				margin: 0;
				padding: 0 30px;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.footer-row-1 {flex-direction: column;}
}