.masthead {
    height: 500px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}
.masthead-content {
    align-items: flex-end;
    padding-bottom: 60px;
    h1 {margin-bottom: 30px;}
    h3 {margin-bottom: 0; text-transform: initial; padding-right: 150px; font-family: $foundry_regular;}
    .headlines {flex-grow: 2;}
}

@media screen and (max-width: 570px) {
   .masthead-content {
    h3 {padding-right: 0;}
    }
}