<perch:before><section class="blog flexbox"></perch:before>

<article class="blog-post blog-post-list">
<header>
<h1 class="blog-post-title blog-post-title-list"><a href="<perch:blog id="postURL" />" rel="bookmark"><perch:blog id="postTitle" /></a></h1>
<p class="blog-post-meta">
    <perch:if id="authorSlug" match="neq" value="imported-content">
        Posted on <perch:blog id="postDateTime" format="l F j, Y" />.
    </perch:if>

</p>
</header>

<div class="blog-post-body">
    <div class="blog-index-image">
        <perch:if exists="image"><a href="<perch:blog id="postURL" />" class="blog-post-image blog-post-image-list"><img src="<perch:blog id="image" type="image" bucket="blog" width="150" height="150" crop="true" />" alt="<perch:blog id="postTitle" />" /></a></perch:if> 
    </div>
    <perch:blog id="excerpt" type="textarea" textile="false" html="true" editor="markitup" />
    <p class="button-next hvr-bounce-to-right"><a href="<perch:blog id="postURL" />">Read More</a></p>
</div>

</article>

<perch:after>

    <perch:if exists="paging">
        <div class="blog-paging button-next hvr-bounce-to-right fred">
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" rewrite="/news/{page:page:%s}" />" class="blog_paging_older">OLDER POSTS</a>
            </perch:if>
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" rewrite="/news/{page:page:%s}" />" class="blog_paging_newer">NEWER POSTS</a>
            </perch:if>
			</p>
        </div>
    </perch:if>

</section>

</perch:after>

<perch:noresults>
    <p>Sorry, there are no items currently available.</p>
</perch:noresults>