<perch:before>
    <section class="blog">
</perch:before>

<article class="blog-post">	
    <header>
        <h1 class="blog-post-title">
            <perch:blog id="postTitle" type="text" size="xl" help="Post title, in normal case. Ellipsis will be added automatically on homepage." />
        </h1>
        <perch:if id="authorSlug" match="neq" value="imported-content">
            <p class="blog-post-meta">Posted on <perch:blog id="postDateTime" label="Date" type="date" time="true" format="l F j, Y" />.</p>
        </perch:if>
    </header>

    <div class="blog-post-body">
        <perch:if exists="youtube">
            <div class="blog-post-video">
                <div class="embed-container">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/<perch:blog label="Youtube video ID" id="youtube" type="text" bucket="blog" help="Takes priority over featured image. Just include XXXXXXXX for http://youtu.be/XXXXXXXX" />?modestbranding=1&amp;rel=0&amp;showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        <perch:else />
            <perch:if exists="image">
                <div class="blog-post-image">
                    <img src="<perch:blog label="Featured Image" id="image" type="image" bucket="blog" help="Full width image displayed at top of page and on blog listing screens. Please use a crop of 800px x 400px to preserve layout consistancy." />" alt="<perch:blog id="postTitle" />" />
                </div>
            </perch:if>
        </perch:if>
	
        <perch:blog id="postDescHTML" type="textarea" encode="false" textile="false" size="xxl" html="true" editor="ckeditor" help="Blog post content." imagewidth="720" />
    </div>
</article>
<perch:blog label="Meta Description" id="metadescription" type="textarea" html="false" suppress="true" help="Do not use HTML in this description &ndash; used for meta description and social sharing." />
<perch:blog label="Excerpt" id="excerpt" type="textarea" textile="false" html="true" editor="ckeditor" suppress="true" help="Excerpt for blog listing pages." />

        <perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes" suppress="true">
            <a href="archive.php?cat=<perch:category id="catSlug" type="slug" />" class="p-category">
                <perch:category id="catTitle" type="text" />
            </a>
        </perch:categories>

<perch:after>
    </section>
</perch:after>